apiVersion: apps/v1
kind: Deployment
metadata:
  name: comment-microservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: comment-microservice
  template:
    metadata:
      labels:
        app: comment-microservice
    spec:
      containers:
      - name: comment-microservice
        image: 2741/comment-microservice:latest
        ports:
        - containerPort: 8081
        env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-credentials
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws-credentials
              key: AWS_SECRET_ACCESS_KEY
        resources:
          requests:
            memory: "512Mi"
            cpu: "289m"
